.app {
     /* Add app styles here */
}
.ideawrapper{
	font-size:14px;
	font-weight:bold;
	/* font-style: italic; */
	margin-bottom:5px;
	color:#008000;/* :#085478; */
}
.idea-grid {
	margin:auto;
	padding-top: 10px;
	width:90%;
	text-align:center;
}
.idea-innerwrapper{
	margin:auto;
		width:90%;
}
input#ideaTxt-inputEl,input#whyTxt-inputEl {
   /*  width: 100%; */
}
div#rallyIdeaGrid {
    margin-top: 15px;
}

#release_info {
	float: left;
	margin-left: 40%;
	font-size: 14px;
	background-color: #085478;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	border: solid yellow 1px;
}
.fa-thumbs-o-up{
	 color:green;
	 font-size :2.5em;
}
.fa-undo {
	color: orange;
	font-size: 2em;
}
.indicator {
	float: right;
	margin-right: 5%;
	font-size: 12px;
	color: black;
	border-bottom: solid gray 1px;
}
i.fa.fa-undo:hover, i.fa.fa-thumbs-o-up:hover {
   cursor:pointer;
}
i.fa.fa-lightbulb-o {
	font-size: 2.5em;
	color: yellow;
	background-color: #085478;
;
}
#refreshgrid{
	padding-left: 5%;
  padding-top: 1%;
}