.app {
     /* Add app styles here */
}
.ideawrapper{
	font-size:14px;
	font-weight:bold;
	font-style: italic;
	margin-bottom:5px;
	color:#085478;
}
.idea-grid {
	margin:auto;
	margin-top: 10px;
	border: solid red 1px;
	width:90%;
	text-align:center;
}
.idea-innerwrapper{
	margin:auto;
		width:90%;
}